.header .mdl-navigation__link {
    color: #eeeeee;
    font-weight: 700;
    font-size: 14px;
}

.navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
}

.navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

.navigation .mdl-navigation__link:hover {
    color: white;
    border-bottom: 4px solid #8bc34a;
}

.center-items {
    justify-content: center;
}